.about-me-top-container{
	display: flex;
	height: 85vh;
	width: 100%;
}

.about-me-left-panel{
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	padding: 5%;
	
}

.about-me-center-panel{
	flex: 0 0 10%;
}

.about-me-right-panel{
	flex: 0 0 40%;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: flex-start; */
	/* background-color: red; */
}

.about-me-text{
	max-width: 400px;
}

.expertese-container{
	width: 70%;
	max-width: 70%;
	margin: 5% 0 0 0;
	display: flex;
	flex-direction: column;
	padding: 2em 2em;


	border-radius: 12px;
}

.expertese-container:hover{
	outline-offset: 3px;
}

.skill-bars-container{
	gap: 0.5em;
	display: flex;
	flex-direction: column;
}

.skill-percentage-and-bar-container{
	display: flex;
	flex-direction: column;
	gap: 0;
}

.skill-and-percentage-container{
	display: flex;
}

.skill-and-percentage-container p{
	margin: 0;
}

.percentage-bar-empty{
	width: 100%;
	height: 10px;
	background-color: var(--skill-bar-empty);
	border-radius: 10px;
	overflow: hidden;
}

.percentage-bar-full{
	height: 100%;
	background-color: var(--highlight-color);
	/* transition: "width 0.5s ease-in-out", */
}

.flexbox-push-right{
	margin-right: auto !important;
}

.contact-link {
  color: var(--highlight-color);
  /* font-weight: 600; */
  text-decoration: none;
  border-bottom: 1px solid var(--highlight-color);
  /* padding-bottom: 2px; */
  transition: opacity 0.2s ease, border-color 0.2s ease;
}

.contact-link:hover {
  opacity: 0.8;
  border-color: transparent;
}