.contact-top-container{
	padding: 5% 0% 5% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	margin-top: -10vh;
}

.contact-user-input-panel{
	padding: 2% 5% 2% 5%;
	min-height: 20vh;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #F8F8FF;
}


.name-email-conatiner{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.contact-field-conatiner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.message-field{
	min-height: 10em;
}

.submission-button{
	border-radius: 4px;
	padding: 0.5em;
	/* background-color: var(--highlight-color); */
	background-color: color-mix(in srgb, var(--highlight-color) 60%, transparent);
	
	border: none;
	color: white;
	font-size: 16px;
	width: 80%;
}

.submission-button:focus{
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}