.contact-top-container{
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	margin-top: -10vh;
}

.contact-user-input-panel{
	padding: 5%;
	width: 80%;
	min-height: 20vh;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}


.name-email-conatiner{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.contact-field-conatiner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.text-field{
	all:unset;
	background-color: white;
	color: black;
	padding: .25em;
	box-sizing: border-box;
	border-radius: 4px;
}

.message-field{
	min-height: 10em;
}

.submission-button{

}