.contact-top-container{
	padding: 5% 0% 5% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	margin-top: -10vh;
}

.form-container {
	width: 80%;

	border-radius: 10px;

	margin: 1rem auto;
	perspective: 1000px;
	cursor: pointer;
	background-color: red;
}

.form-inner {
	display: grid;
	position: relative;
	width: 100%;

	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: inherit;
}

.form-container:hover .form-inner, .form-container:focus-within .form-inner{
  transform: rotateY(180deg);
}

.form-front,
.form-back {
	grid-area: 1/1;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-front {
	background: white;
	border: 1px solid #e5e7eb;
}

.form-back {
	height: auto;
	padding: 2% 5% 2% 5%;

	background-color: #F8F8FF;
	color: white;
	transform: rotateY(180deg);
}

.form{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.name-email-conatiner{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.contact-field-conatiner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.message-field{
	min-height: 10em;
}

.submission-button {
	border-radius: 6px;
	padding: 0.6em 1em;
	background-color: var(--highlight-color);
	border: none;
	color: white;
	font-size: 16px;
	width: 80%;
	cursor: pointer;

	transition:
		background-color 0.2s ease,
		box-shadow 0.2s ease,
		transform 0.15s ease;
}

.submission-button:hover,
.submission-button:focus {
	box-shadow: 4px 6px black;
	transform: translateY(-4px);
}

.submission-button:active {
	transform: translateY(0);
	box-shadow:
		0 3px 10px rgba(0, 0, 0, 0.25);
}

.submission-button:focus{
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}