.contact-top-container{
	padding: 5% 0% 5% 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.form-container {
	width: 90%;
	aspect-ratio: 2.2;
	border-radius: 10px;
	margin: 1rem auto;
	perspective: 1000px;
	cursor: pointer;
}

.form-inner {
	grid-template-columns: 100%;
	pointer-events: none;
	display: grid;
	position: relative;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: inherit;
}

.form-container:hover .form-inner, .form-container:focus-within .form-inner{
  transform: rotateY(180deg);
}

.form-front,
.form-back{
	width: 100%;
	grid-area: 1 / 1;
	backface-visibility: hidden;
	background-color: #F8F8FF;
}

.form-front {
	
	aspect-ratio: 2.2;
	position: relative;
	border: 1px solid black;
	border-radius: 0px;
}

.form-back {
	display: flex;
	align-items: center;
	justify-content: center;

	transform: rotateY(180deg);
	padding: .5em 1em .5 em 1em;
	color: white;
}


.glow-box { 
	position: relative;
	height: 100%;
	width: 100%;
}
.glow-svg {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.glow-path {
	stroke: var(--highlight-color);
	stroke-width: 8;

	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-opacity: 0.5;
	vector-effect: non-scaling-stroke;
}

.form-front::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background: #e5e7eb;
	clip-path: polygon(
		0 0,
		100% 0,
		50% 100%
	);
	z-index: 3;
	transition: 0.5s;
	transform-style: preserve-3d;

	transform: translateZ(0);
  will-change: transform;
}

/* TODO: open envelope and have form come out and flip over */
/* .form-container:hover .form-front::before{
	transform-origin: 50% 0%;
	transform: rotateX(180deg);
} */

/* .form-container:hover .form-front::after{
	clip-path: polygon(0 0, 100% 0, 50% 0%);
} */

.form-front::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	clip-path: polygon(0 0, 100% 0, 50% 55%);
	z-index: 1;

	transition: 0.8s;
}

.envelope-centerline{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%;
	background: #e5e7eb;
	z-index: 0;
	clip-path: polygon(
		0 100%,
		100% 100%, 
		50% 0
	);
}

.to-icon, .hover-icon{
	position: absolute;
	z-index: 2;
}

.hover-icon{
	width: 14%;
	height: 14% * 2.2;
	top: 60%;
	left: 10%;
	z-index: 100;
	transform: translate(0, -100%);
}

.to-icon{
	width: 26%;
	height: 26% * 2.2;
	right: 10%;
	top: 65%;
	transform: translate(0, -50%) rotate(320deg);
}


.form{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.625em;
}

.name-email-conatiner{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.contact-field-conatiner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.message-field{
	min-height: 10em;
}

.submission-button {
	border-radius: 6px;
	font-size: 1.25em;
	padding: 0.3em .5em;
	background-color: var(--highlight-color);
	border: none;
	color: white;
	width: 80%;
	cursor: pointer;

	transition:
		background-color 0.2s ease,
		box-shadow 0.2s ease,
		transform 0.15s ease;
}

.submission-button:hover,
.submission-button:focus {
	box-shadow: 4px 6px black;
	transform: translateY(-4px);
}

.submission-button:active {
	transform: translateY(0);
	box-shadow:
		0 3px 10px rgba(0, 0, 0, 0.25);
}

.submission-button:focus{
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

.contact-socials-container{
	box-shadow: 0 0 10px var(--highlight-color) inset;
	border-radius: 0px 10px;

	display: flex;
	align-items: center;
	justify-items: center;
	gap: .5rem;
	padding: .625rem .625rem;
}

.contact-icon{
	padding: .625rem;
	width: 4.375rem;
	aspect-ratio: 1;
}	