.contact-top-container{
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	margin-top: -10vh;
}

.contact-user-input-panel{
	padding: 2% 5% 2% 5%;
	/* padding-top: 5%; */
	width: 80%;
	min-height: 20vh;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #F8F8FF;
}


.name-email-conatiner{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

.contact-field-conatiner{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.text-field{
	border: none;
	appearance: none;
	outline: none;
	background-color: white;
	/* color: black; */
	padding: .25em;
	box-sizing: border-box;
	border-radius: 4px;
}

.text-field::placeholder{
	color: #222;
	opacity: 1;
	transition: opacity 0.4s ease;
	
}

.text-field:focus::placeholder{
	opacity: 0;
}

.message-field{
	min-height: 10em;
}

.submission-button{
	border-radius: 4px;
	padding: 0.5em;
	background-color: var(--highlight-color);
}