.custom-border-effect{
	--draw-duration: 1.0s;
	--draw-color: var(--highlight-color);
	--draw-line-width: 4px;
	--draw-easing: linear;

	position: relative;

	/* pointer-events: none; */
}

.custom-border-effect .border-1,
.custom-border-effect .border-2 {
  position: absolute;
  inset: 0;
  border: 0px solid var(--draw-color);
  border-radius: inherit;
  pointer-events: none;
  /* transition: clip-path 0.6s ease; */
}

.custom-border-effect .border-1{
	clip-path: inset(100% 100% 0% 0%);
}

.custom-border-effect .border-2{
	clip-path: inset(0 0 100% 100%);
}

.custom-border-effect:hover .border-1,
.custom-border-effect:hover .border-2 {
  clip-path: inset(0 0 0 0);
}

.custom-border-effect .clip-1,
.custom-border-effect .clip-2 {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  transition: clip-path 0.6s ease;
  pointer-events: none;
}

.custom-border-effect .clip-1 {
  clip-path: inset(100% 100% 0% 0%);
}

.custom-border-effect .clip-2 {
  clip-path: inset(0 0 100% 100%);
}

.custom-border-effect:hover .clip-1,
.custom-border-effect:hover .clip-2 {
  clip-path: inset(0 0 0 0);
}