.custom-border-effect {
  --draw-duration: 1.0s;
	--draw-color: var(--highlight-color);
	--draw-line-width: 4px;
	--draw-easing: linear;

	position: relative;
	box-sizing: border-box;

}

.custom-border-effect .border{
  border: none !important;
  outline: none !important;

	pointer-events: none;
	position: absolute;
	inset: 0;
	border-radius: inherit;
  border: 2px solid var(--draw-color) !important;
  z-index: 10;

  transition: clip-path 0.6s ease;
  background-color: transparent;

  clip-path: polygon(
    100% 0%,
    100% 0%,
    0% 100%,
    0% 100%
  );
}

.custom-border-effect .border.thick{
 border-width: 4px !important;
}

/* .custom-border-effect:focus-within .border, */
.custom-border-effect:hover .border{
	clip-path: polygon(
    50% -50%, 
    150% 50%, 
    50% 150%, 
    -50% 50%);
}