.experience-top-container{
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5% 10% 10% 10%;
}

.experience-header{
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 10px;
	flex: 0;
	margin-bottom: 1em;
	margin-left: 10px;
}

.experience-panel-container{
	width: 100%;
	display: flex;	
	gap: 60px;
}

.experience-left-panel{
	flex: 1.5 1 0;
	min-width: 0;

	display: flex;
	flex-direction: column;
	gap: 1.5em;
	overflow: visible;
}

.experience-right-panel{
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	
	flex: 3 1 0;
	min-width: 0;
}

.experience-button{
	outline: 1px solid var(--secondary-soft-text-color);
	outline-offset: 0px;
	border-radius: 10px;
	border-width: 0px;
	
	padding: 15px;
	margin: 0 5px;

	color: var(--secondary-soft-text-color);
	white-space: no-wrap;
	
	transition:
		transform 0.35s linear 0.5s,
		outline-offset 0.0s linear 1.s;
}

.experience-button:hover{
	transform: scale(1.03);
	color: var(--text-color);
	outline: 1px solid #e6edf3;
}

.experience-button.active,
.experience-button.active:focus{
	background-color: var(--highlight-color);
	color: var(--highlight-text-color) !important;
}

.experience-time-location-container{
	margin-bottom: 1.5em;
	display: flex;
	align-items: center;
	gap: 1.5em;
}
.experience-time-location-bar{
	display: flex;
	align-items: center;
	gap: 0.35em;
}

.key-projects-group-container{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

ul.custom-list li {
	list-style: none;
	position: relative;
	padding-left: 25px;
	/* background-color: var(--highlight-color); */
}

ul.custom-list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0.2em;
	width: 16px;
	height: 16px;
	background: url('../assets/bullet-point.png') no-repeat center;
	background-size: contain;
	color: var(--highlight-color);
}