.gallery {
  --g:4px;
  
  display: grid;
  align-self: center;
  aspect-ratio: 1;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: var(--g);

  max-height: 100vh;

  /* box-shadow: */
    /* inset 0 0 0 9999px color-mix(in srgb, var(--highlight-color) 40%, transparent), */
    /* 0 0 10px 10px color-mix(in srgb, var(--highlight-color) 40%, transparent); */
}

.gallery img {
	aspect-ratio: 1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
  cursor: pointer;
  transition: 0.5s
}

.gallery img:hover, .gallery img.active {
  filter: grayscale(0);
}

.gallery img.active{
  transition: 1s;
}

.gallery img:nth-child(1){
	grid-area: 1/1/span 1/span 1;
}

.gallery img:nth-child(2) {
  grid-area: 1/2/span 2/span 3;
  clip-path: polygon(0 0,100% 0, 100% calc(50%), calc(66% + var(--g)/3) 100%, calc(33% + var(--g)/3) 100%, 0 calc(50%))
}

.gallery img:nth-child(3) {
	grid-area: 1/5/span 1/span 1;
}

.gallery img:nth-child(4) {
  grid-area: 2/1/span 3/span 2;
  clip-path: polygon(0 0,calc(50%) 0,100% calc(33% - var(--g)/3), 100% calc(66% + var(--g)/3), calc(50%) 100%,0 100%);
}

.gallery img:nth-child(5) {
	grid-area: 3/3/span 1/span 1;
}

.gallery img:nth-child(6) {
	grid-area: 2/4/span 3/span 2;
  clip-path: polygon(0% calc(33% - var(--g)/3), calc(50%) 0%, 100% 0%, 100% 100%, calc(50%) 100%, 0% calc(66%  + var(--g)/3));
}

.gallery img:nth-child(7) {
	grid-area: 5/0/span 1/span 1;
}

.gallery img:nth-child(8) {
	grid-area: 4/2/span 2/span 3;
  /* clip-path: polygon(0% calc(50% - var(--g)/4), calc(33% - var(--g)/4) 0%, calc(66% - var(--g)/4) 0%, 100% calc(50% - var(--g)/4), 100% 100%, 0% 100%); */
  clip-path: polygon(0% calc(50%), calc(33% - var(--g)/3) 0%, calc(66% + var(--g)/3) 0%, 100% calc(50%), 100% 100%, 0% 100%);
}

/* TODO: Make the gap pixel perfect */