.gallery {
  --g: 4px;
  
  display: grid;
  align-self: center;
  aspect-ratio: 5/3;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: var(--g);

  /* box-shadow: */
    /* inset 0 0 0 9999px color-mix(in srgb, var(--highlight-color) 40%, transparent), */
    /* 0 0 10px 10px color-mix(in srgb, var(--highlight-color) 40%, transparent); */
}

.gallery img {
	aspect-ratio: 1;

  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
  cursor: pointer;
  transition: .5s
}

.gallery img:hover {
  filter: grayscale(0);
}

.gallery img:nth-child(1){
	grid-area: 1/1/span 1/span 1;
}

.gallery img:nth-child(2) {
  grid-area: 1/2/span 2/span 3;
  clip-path: polygon(0 0,100% 0, 100% calc(50% - var(--g)/4), calc(66% + var(--g)/4) 100%, calc(33% + var(--g)/4) 100%, 0 calc(50% - var(--g)/4))
}

.gallery img:nth-child(3) {
	grid-area: 1/5/span 1/span 1;
}

.gallery img:nth-child(4) {
  grid-area: 2/1/span 2/span 2;
  clip-path: polygon(0 0,calc(50% - var(--g)/4) 0,100% calc(50% + var(--g)/4),100% 100%,0 100%);
}

.gallery img:nth-child(5) {
	grid-area: 3/3/span 1/span 1;
}

.gallery img:nth-child(6) {
	grid-area: 2/4/span 2/span 2;
	/* clip-path: polygon(0 0,calc(50% - var(--g)/4) 0, 100% calc(50% + var(--g)/4),100% 100%,0 100%); */
	clip-path: polygon(calc(50% + var(--g)/4) 0%, 100% 0%, 100% 100%, 0% 100%, 0% calc(50% + var(--g)/4));
}