.hero-background{
	background: linear-gradient(to right, #043b94, #0b1930);
	background: linear-gradient(to right, #0b1930 0%, #0b1930 40%, #11171e 40%, #11171e 100%);
}

.hero-container{
	display: grid;
	min-height: 70vh;
	margin-bottom: 2rem;
}

@media (--tablet) {
	.hero-container {
		grid-template-columns: auto auto;
		min-height: 85vh;
	}
}


.headshot-container {
  margin: 2rem auto 0 auto;
  max-width: 17rem;
  aspect-ratio: 1;
  border-radius: 10%;
  overflow: hidden;
}

.right-panel{
	margin: 0 2rem 0 2rem;
	/* margin: auto auto; */
}

.right-panel-inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media (--tablet){
	.headshot-container{
		justify-self: right;
		align-self: center;
		margin: 0 1rem 0 1rem;
	}
	.right-panel{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 1rem 0 1rem;
	}

	.right-panel-inner {
		display:block;
		align-items: flex-start;
		text-align: start;
	}
}



.dev-objectives-paragraph{
	max-width: 37.5em;
}

.headshot{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.headshot-container .headshot {
  transform: scale(1.8);
}

.icon-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: 2.5rem;
}


.icon{
	/* width: 100%; */
	max-width: calc(100% / 9);
	height: 3.125rem;
}