.hero-background{
	background: linear-gradient(to right, #043b94, #0b1930);
	background: linear-gradient(to right, #0b1930 0%, #0b1930 40%, #11171e 40%, #11171e 100%);
}

.top-container{
	display: flex;
	height: 95vh;
}

.left-panel{
	flex-grow: 2;
	/* background-color: var(--tertiary-bg-color); */
	display: flex;
	justify-content: right;
	align-items: center;
}

.right-panel{
	flex-grow: 3;
	/* background-color: var(--primary-bg-color); */
	display: flex;
	align-items: center;
	justify-content: center;
}

.dev-objectives-paragraph{
	max-width: 600px;
	margin: 0, 10%, 0, 10%;
}

.headshot-container {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  overflow: hidden;
  /* position: relative; */
}

.headshot{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 10%;
}

.headshot-container .headshot {
  transform: scale(1.8);     /* zooms image inside container */
}

.icon{
	width: 50px;
	height: 50px;
}