.inputs-body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 16px;
	background-color: white;
}

*, *::before, *::after{
	box-sizing: border-box;
}

.custom-field input,
.custom-field textarea{
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #f2f2f2;
	color: #222;
	padding: 0.75em;
	border-radius: 3px;
	width: 100%;
	outline: none;
}

.custom-field{
	flex-grow: 1;
	position: relative;
	padding-top: 1.25em;
	/* margin-bottom: 0.3125rem; */

}

.custom-field .placeholder{
	position: absolute;
	background: transparent;
	color: #222;
	left: 0.5em;
	bottom: 0.6em;
	transition:
		font-size 0.3s ease,
		top 0.3s ease,
		color 0.3s ease;
}

.custom-field textarea + .placeholder {
	top: 38px;
}

.custom-field input:not(:placeholder-shown) + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field textarea:not(:placeholder-shown) + .placeholder,
.custom-field textarea:focus + .placeholder{
	top: 0.5em;
	font-size: 0.85em;
	color: #222;
}

/* ONE */
.custom-field.one input,
.custom-field.one textarea{
	background: none;
	border: 2px solid #ddd;
	transition: border-color 0.3s ease;
}

.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus,
.custom-field.one textarea:not(:placeholder-shown),
.custom-field.one textarea:focus{
	border-color: #222;
}

.custom-field.one input + .placeholder{
	padding: 0px 0.3125em;
}

.custom-field.one .placeholder{
	top: calc(50% - 0.5em);
}

.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder, 
.custom-field.one textarea:not(:placeholder-shown) + .placeholder,
.custom-field.one textarea:focus + .placeholder{
	top: -0.4em;
}

/* TWO */
.custom-field.two input,
.custom-field.two textarea{
	border-radius: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	transition: background-size 0.3s ease;
	
	background: 
		linear-gradient(90deg, #222, #222) center bottom /0% 2px no-repeat,
		linear-gradient(90deg, #ccc, #ccc) left bottom /100% 2px no-repeat,
		linear-gradient(90deg, #fafafa, #fafafa) left bottom /100% no-repeat;
}

.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus{
	background-size: 100% 2px, 100% 2px, 100%;
}

/* THREE */
.custom-field.three {
  --draw-duration: 0.1s;
  --draw-color: #222;
  --draw-line-width: 2px;
  --draw-easing: linear;
}

.custom-field.three .border{
	width: 100%;
	height: calc(100% - 20px);
	position: absolute;
	left: 0;
	top: 20px;
	border-radius: 3px;
}

.custom-field.three .border::before,
.custom-field.three .border::after{
	content: "";
	display: inline-block;
	width: 0%;
	height: 0%;
	position: absolute;
	border-radius: 3px;	
	transition: none;
}

.custom-field.three .border::before{
	left: 0; 
	bottom: 0;
	border-right: 0px solid var(--draw-color);
	border-bottom: 0px solid var(--draw-color);
	transition: 
		border 0s linear calc(var(--draw-duration) * 4),
		height var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 2),
		width var(--draw-duration) var(--draw-easing) calc(var(--draw-duration) * 3);
}

.custom-field.three .border::after{
	right: 0; 
	top: 0;

	border-left: 0px solid var(--draw-color);
	border-top: 0px solid var(--draw-color);
  	transition: 
		border 0s linear calc(var(--draw-duration) * 2),
		height var(--draw-duration) var(--draw-easing),
		width var(--draw-duration) var(--draw-easing) var(--draw-duration);
}

.custom-field.three input:not(:placeholder-shown) ~ .border::before,
.custom-field.three input:focus ~ .border::before,
.custom-field.three input:not(:placeholder-shown) ~ .border::after,
.custom-field.three input:focus ~ .border::after{
	width: 100%;
	height: 100%;
}

.custom-field.three input:not(:placeholder-shown) ~ .border::before,
.custom-field.three input:focus ~ .border::before{
	border-bottom: 2px solid #222;
	border-right: 2px solid #222;

	transition: 
		width 0.3s ease,
		height 0.3s ease 0.3s;
}

.custom-field.three input:not(:placeholder-shown) ~ .border::after,
.custom-field.three input:focus ~ .border::after{
	border-top: 2px solid #222;
	border-left: 2px solid #222;

	transition: 
		width 0.3s ease 0.6s,
		height 0.3s ease 0.9s;
}