.projects-top-container{
	height: 100vh;
	width: 100%;
}

.projects-header{
	text-align: right;
	text-decoration: underline;
	text-underline-offset: 10px;
	margin: 0 1em 1em 0;
}

.projects-track-container{
	height: 70%;
	white-space: nowrap;
	gap: 0%;
}

.projects-track-container:has(.projects-modal-box:hover) .projects-track {
  animation-play-state: paused;
}

.projects-track{
	height: 100%;
	display: inline-flex;
	align-items: center;
	animation: scroll 20s linear infinite;
}

.projects-modal-box{
	height: 100%;
	width: 400px;
	/* background-color: var(--secondary-bg-color); */
	margin: 1rem;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	transition: transform 0.2s ease;
	border-radius: 5px;

}

.projects-modal-box:hover{
	transform: scale(1.03);
}

.projects-modal-box p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.projects-modal-image-box{
	width: 100%;
	height: 40%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.tech-stack-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.tech-stack-container p:hover {
	background: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.15);
}

.tech-stack-container p {
	padding: 3px 8px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.08);
	border-radius: 5px;
	color: #a9b6c9;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.4);
	backdrop-filter: blur(6px);
	transition: background 0.3s ease, border-color 0.3s ease;
	margin: 0;

}

.flexbox-push{
	margin-top: auto;
}

.link-button-container {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	font-size: 2.5rem;
}

.link-button{
	flex: 1;
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.button-primary{
	background-color: var(--highlight-color) !important;
}

.button-secondary:hover{
	background-color: var(--highlight-color) !important;
}
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}