  @custom-media --mobile-s (min-width: 320px);
  @custom-media --mobile-m (min-width: 375px);
  @custom-media --mobile-l (min-width: 425px);
  @custom-media --tablet (min-width: 768px);
  @custom-media --laptop (min-width: 1024px);
  @custom-media --laptop-l (min-width: 1440px);
  @custom-media --four-k (min-width: 2560px);