:root {
  /* --primary-bg-color: #BBE1FA; */
  --primary-bg-color: #C6DCE4;
  --primary-text-color: #000000;
  --primary-soft-text-color: grey;
  
  --secondary-bg-color: white; 
  --secondary-border-color: #999999;
  --secondary-text-color: #000000;
  --secondary-soft-text-color: grey;
  --secondary-bg-subcontainer-color: #C6DCE4;
  
  /* --tertiary-bg-color: #112D4E; */
  --tertiary-bg-color: #00eaff;

  --skill-bar-empty: #ddd;
  --skill-bar-full: #4caf50;

  --highlight-color: #7f00ff;
  /* --highlight-color: #9b5de5; */
  /* --highlight-color: #124170; */
  --highlight-text-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

   margin: 0;
  min-height: 100vh;
  background-color: #0d1117;
  background-image: 
    linear-gradient(transparent 95%, rgba(255,255,255,0.25) 96%),
    linear-gradient(90deg, transparent 95%, rgba(255,255,255,0.25) 96%),
    radial-gradient(circle at 20% 30%, rgba(0, 120, 255, 1), transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(255, 0, 150, 1), transparent 60%);

  background-size: 
    40px 40px,
    40px 40px,
    100% 100%, 
    100% 100%;

  background-blend-mode: overlay;
  color: var(--text-color, #e6edf3);
  font-family: system-ui, sans-serif;
}

.border-effect{
  outline: none;
  outline-offset: 0px;
	transition: outline-offset 0.1s linear 0.3s !important;
  display: inline-block;
}

.border-effect:hover{
  /* outline-offset: 4px; */
  outline: 2px solid var(--highlight-color) !important;
}

.border-effect-small:hover{
  /* outline-offset: 2px; */
}

.border-effect-snap-close:not(:hover) {
  transition: none !important;
}

.card {
	background: rgba(20, 20, 30, 0.85);
  color: var(--text-color);
	backdrop-filter: blur(8px);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.sub-card-textbox{
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #a9b6c9;
  
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.4);
  
  backdrop-filter: blur(6px);
  transition: background 0.3s ease, border-color 0.3s ease;
}

.sub-card-textbox:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.15);
}