:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #cccccc;
  --secondary-border-color: #999999;

  --skill-bar-empty: #ddd;
  --skill-bar-full: ;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 🚫 disables horizontal scroll */
}